CONFIG_KALLSYMS_ALL=y
CONFIG_DEBUG_PERF_USE_VMALLOC=n
CONFIG_PARAVIRT_DEBUG=n
CONFIG_PCI_DEBUG=n
CONFIG_IP_DCCP_DEBUG=n
CONFIG_DEBUG_DRIVER=n
CONFIG_DEBUG_DEVRES=n
CONFIG_SPI_DEBUG=n
CONFIG_DEBUG_GPIO=n
CONFIG_USB_GADGET_DEBUG=n
CONFIG_DEBUG_SHIRQ=n
CONFIG_LOCKUP_DETECTOR=n
CONFIG_DETECT_HUNG_TASK=n
CONFIG_SCHED_DEBUG=y
CONFIG_SCHEDSTATS=y
CONFIG_TIMER_STATS=n
CONFIG_DEBUG_OBJECTS=n
CONFIG_DEBUG_SLAB=n
CONFIG_DEBUG_KMEMLEAK=n
CONFIG_DEBUG_PREEMPT=n
CONFIG_DEBUG_RT_MUTEXES=n
CONFIG_RT_MUTEX_TESTER=n
CONFIG_DEBUG_SPINLOCK=n
CONFIG_DEBUG_MUTEXES=n
CONFIG_DEBUG_LOCK_ALLOC=n
CONFIG_PROVE_LOCKING=n
CONFIG_LOCK_STAT=n
CONFIG_DEBUG_SPINLOCK_SLEEP=n
CONFIG_DEBUG_LOCKING_API_SELFTESTS=n
CONFIG_STACKTRACE=y
CONFIG_DEBUG_KOBJECT=n
CONFIG_DEBUG_HIGHMEM=n
CONFIG_DEBUG_INFO=n
CONFIG_DEBUG_VM=n
CONFIG_DEBUG_VIRTUAL=n
CONFIG_DEBUG_WRITECOUNT=n
CONFIG_DEBUG_LIST=n
CONFIG_TEST_LIST_SORT=n
CONFIG_DEBUG_SG=n
CONFIG_DEBUG_NOTIFIERS=n
CONFIG_DEBUG_CREDENTIALS=n
CONFIG_FRAME_POINTER=y
CONFIG_BOOT_PRINTK_DELAY=n
CONFIG_BACKTRACE_SELF_TEST=n
CONFIG_DEBUG_BLOCK_EXT_DEVT=n
CONFIG_DEBUG_FORCE_WEAK_PER_CPU=n
CONFIG_CPU_NOTIFIER_ERROR_INJECT=n
CONFIG_FAULT_INJECTION=n
CONFIG_LATENCYTOP=y
CONFIG_DEBUG_PAGEALLOC=n
CONFIG_KGDB=n
CONFIG_KMEMCHECK=n
CONFIG_DEBUG_STACKOVERFLOW=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_DEBUG_PER_CPU_MAPS=n
CONFIG_X86_PTDUMP=n
CONFIG_DEBUG_RODATA=n
CONFIG_DEBUG_NX_TEST=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_CPA_DEBUG=n
CONFIG_DEBUG_STRICT_USER_COPY_CHECKS=n
